html {
    scroll-behavior: smooth;
    font-family: 'Sora', sans-serif;
}
body{

}

/***** Header *****/
header{
    position: fixed;
    top:0;
    width: 100%;
    height: 5rem;
    z-index: 20;
}

#navigator{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid gray;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    background: white;
    font-weight: 300;
    font-size: 0.8rem;
}
.hamburger{
    display: flex;
    align-items: center;
}
.hamburger img{
    height: 3rem;
    width: 3rem;
    margin-left: 2rem;
}
#toggle-menu{
    display: grid;
    opacity:0;
    grid-template-rows: repeat(5, 1fr) ;
    position: fixed;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.93);
    left:0;
    transition: all 0.2s ease-in-out;
    transform: translateX(-100%);
    z-index: 50;
}
#toggle-menu li{
    height: 100%;
    width: 100%;
    transition: all 0.2s ease-in-out;
}
#toggle-menu li a:hover{
    background-color: gray;
    color: black;
}
#toggle-menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: gray;
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
}
#toggle-menu li.exit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color:white;
    cursor:pointer;
}
#black-filter{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,0.4);
}
#banner{
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    width: 100%;
    height: 100%;
    font-weight: 300;
    color: azure;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner #banner-button{
    border-radius: 2rem;
    height: 3rem;
    width: 7rem;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    border: gray 1px solid;
}
#banner #banner-button:hover{
    color: azure;
    background-color: gray;
}

/* Mobile */
#navigator-mobile{
    height: 100%;
    width: 100%;
    display: none;
    grid-template-columns: repeat(3, 1fr);
}
#navigator-mobile #logo_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigator-mobile #logo_container img{
    height: 3rem;
    width: 3rem;
}

/* Tablet */
#navigator-tablet{
    height: 100%;
    width: 100%;
    display: none;
    grid-template-columns: repeat(3, 1fr);
}
#navigator-tablet #logo_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigator-tablet #logo_container img{
    height: 3rem;
    width: 3rem;
}

/* Desktop */
#navigator-desktop{
    height: 100%;
    width: 100%;
    display: none;
    margin-left: 2rem;
}
#navigator-desktop #logo_container{
    height: 100%;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigator-desktop ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}
#navigator-desktop ul li {
    margin-right: 2rem;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
#navigator-desktop ul li a {
    color: gray;
    text-decoration: none;
}
#navigator-desktop #logo_container img{
    height: 3rem;
    width: 3rem;
}

/***** Main *****/
.divisor{
    padding-top: 8rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisor .text{
    font-size: 24px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.divisor .line{
    width: 5rem;
    height: 2px;
    background-color: black;
}
section{
    height: auto;
    width: 100%;
}
section#one{
    height: 100vh;
    width: 100%;
}
section .card{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .main_image_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top top;
    background-size:cover;
    background-image: url("../img/main.avif");
}
section .main_image_container .heading_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .main_image_container .heading_container .heading {
    z-index: 10;
    color: whitesmoke;
    font-size: 5rem;
    font-weight: 100;
}
.heading .title{
    color: #33AB5F;
}
section .gallery_grid_desktop{
    display: none;
    width: 33rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(3,10rem);
    grid-template-rows: repeat(3,10rem);
}
section .gallery_grid_desktop .grid{
    border: 1px solid black;
}
section .gallery_grid_mobile{
    display: none;
    grid-gap: 1rem;
    width: 15rem;
    grid-template-columns: repeat(2, 7rem);
    grid-template-rows: repeat(5, 7rem);
}
section .gallery_grid_mobile .grid{
    border: 1px solid gray;
}

/* Hover effect to grid */
.grid{
    transition: all 0.2s ease-in-out;
    opacity: 0.85;
    background-color: gray;
    z-index: 0;
}
.grid:hover{
    opacity: 1;
    transform: scale(1.05);
}
.grid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/***** Footer *****/
footer{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 16rem;
    background-color: gray;
}
footer .contact{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
footer .water_mark{
    color: lightgray;
    font-weight: 200;
    font-size: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: translateY(-10px);
}

